In [1]:
import pandas as pd

## Loading the data

In [4]:
df = pd.read_csv("./data/dataset.csv")
df.head()

,summary_date,app_id,app_type,app_name,campaign_id,campaign_name,ad_id,ad_name,impressions,clicks,installs,spend,event_name,events_d0,events_d7,unique_events_d0,unique_events_d7
0,2022.06.14,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16L8hGR,Super AD 16L8hGR,82.0,46.0,NaN,0.00455,super_event,NaN,NaN,NaN,NaN
1,2022.07.10,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16z49oF,Super AD 16z49oF,1942.0,1226.0,2.0,0.88920,super_event,0.0,0.0,0.0,0.0
2,2022.07.05,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16DpJ5e,Super AD 16DpJ5e,116.0,2.0,NaN,0.00715,super_event,NaN,NaN,NaN,NaN
3,2022.06.01,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16sutOl,Super AD 16sutOl,15550.0,18.0,4.0,0.52455,super_event,0.0,0.0,0.0,0.0
4,2022.07.25,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16ZEk4H,Super AD 16ZEk4H,0.0,0.0,2.0,0.00000,super_event,0.0,0.0,0.0,0.0

## Exploratory analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1570 entries, 0 to 1569
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   summary_date      1570 non-null   object
 1   app_id            1570 non-null   object
 2   app_type          1570 non-null   object
 3   app_name          1570 non-null   object
 4   campaign_id       1570 non-null   object
 5   campaign_name     1570 non-null   object
 6   ad_id             1453 non-null   object
 7   ad_name           1453 non-null   object
 8   impressions       1489 non-null   float64
 9   clicks            1489 non-null   float64
 10  installs          826 non-null    float64
 11  spend             1489 non-null   float64
 12  event_name        1570 non-null   object
 13  events_d0         826 non-null    float64
 14  events_d7         826 non-null    float64
 15  unique_events_d0  826 non-null    float64
 16  unique_events_d7  826 non-null    float64
dtypes: float64(8), object(9)
memory usage: 208.6+ KB

In [10]:
df.describe(include='all')

,summary_date,app_id,app_type,app_name,campaign_id,campaign_name,ad_id,ad_name,impressions,clicks,installs,spend,event_name,events_d0,events_d7,unique_events_d0,unique_events_d7
count,1570,1570,1570,1570,1570,1570,1453,1453,1.489000e+03,1.489000e+03,826.000000,1489.000000,1570,826.000000,826.000000,826.000000,826.000000
unique,61,1,1,1,7,7,54,54,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
top,2022.06.27,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_6,Super AD 6,NaN,NaN,NaN,NaN,super_event,NaN,NaN,NaN,NaN
freq,38,1570,1570,1570,1373,1373,61,61,NaN,NaN,NaN,NaN,1570,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.289176e+05,5.648466e+03,954.670702,51.666529,NaN,4.322034,5.491525,3.573850,4.210654
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.223744e+05,4.006779e+04,5317.702577,294.343442,NaN,10.845378,14.054200,8.846297,10.448334
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,2.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.800000e+01,6.000000e+00,4.000000,0.011700,NaN,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.984000e+03,9.000000e+01,12.000000,0.689650,NaN,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.424400e+04,1.288000e+03,42.000000,9.286550,NaN,2.000000,4.000000,2.000000,2.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.825656e+06,1.215918e+06,83240.000000,4803.045000,NaN,82.000000,116.000000,58.000000,68.000000